html {
  background-color: rgb(0,0,0);
   color: rgb(255,255,255);
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
font-family: fantasy;




section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
    border-style: solid;
    max-width: 400px;     
    margin: 20px auto; 
    background-color: rgb(255, 23, 23);
    padding: 10px;
    border-radius: 25px;
    border: 2px solid rgb(63, 4, 4);
}

/* --- I want to jump off a bridge. --- */
/* 185, 149, 119 */