html {
    background-color: maroon;
   color: rgb(255, 255, 255);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}
#text1{
 font-family: fantasy;
  color: rgb(255, 240, 142);
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-color: rgb(254, 147, 60);
    font-size: xx-large;

}